{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load cart %}
{% block title %} Sondos Shopping | Product {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 mb-3">
            <ul class="list-group">
                <li class="list-group-item active bg-secondary border-0"><a style="text-decoration:none; color:white;" href="/">All Category</a></li>
            	{% for category in categories %}
                <li class="list-group-item"><a style="text-decoration:none; color:black;" href="/?category_id={{ category.id }}">{{ category.name }}</a></li>
				{% endfor %}
            </ul>
        </div>
        <div class="col-md-10">
            	{% if product  %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ product.image.url }}" height="100%;" width="250px" alt="{{ product.name }}">
                                </div>
                                <div class="col-md-8">
                                    <div>
                                        <h1 class="font-weight-light">{{ product.name }}</h1>
                                        <h4 class="font-weight-light">Price: <strong>{{ product.price|currency }}</strong></h4>
                                         <form action="/#{{ product.id }}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ product.id }}" name="product">
                                            {% if product|is_in_cart:request.session.cart %}
                                            <a class="btn btn-warning" href="/cart">Go to cart </a>
                                            {% else %}
                                            <input class="btn btn-primary" type="submit" value="Add to cart">
                                            {% endif %}
                                        </form>
                                        <p class="mt-2"><strong>Description: </strong> {{ product.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
</div>


    <div class="row pl-3" id="comments-list">
        <div class="col-12 col-md-6 pl-0">
         <h3 class="white-important mb-3">
             Comments
         </h3>

        {% for comment in comments %}

       <article class="media content-section">
       <div class="col-md-12 mt-3 mb-3">
           <p>
           <img
                         class="rounded-circle mr-2"
                          style="width: 35px; height: 35px;"
                          src="{{ comment.image.url }}">

           <strong>{{ comment.author}}</strong> | <small>date: {{ comment.date_posted | date:"H:i l, d.m.y" }}</small></p>
           <p>{{ comment.text }}</p>
       </div>

{#                <div style="width: 100%; word-break: break-all;" class="hovered-tweet-comment-in">#}
{#                <div class="pb-2 row m-0" style="width: 100%; margin-right: 2px !important;">#}
{#                   <div#}
{#                           style="padding-left: 0px !important;"#}
{#                           class="col-8 no-padding d-flex align-items-center">#}
{#                       <img#}
{#                           class="rounded-circle mr-2"#}
{#                           style="width: 35px; height: 35px;"#}
{#                           src="{{ comment.author.image.url }}">#}
{#                       <a>#}
{#                           {{ comment.author }}#}
{#                       </a>#}
{#                   </div>#}

                            {% if comment.author.username == user.username %}

                                <div class="topright">
<object align="right">
            <div class="dropdown">
  <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
</svg>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'comment-update' comment.id %}">Edit</a>
    <a class="dropdown-item" href="{% url 'comment-delete' comment.id %}">delete</a>

  </div>
</div>
</object>
</div>


        {% endif %}


</article>
        {% endfor %}

</div>

     {% if user is not None %}
            <div class="col-12 col-md-6 pl-0 pl-md-3 pr-3">
                <h3 class="white-important mb-3">
                    Add a comment
                </h3>
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form | crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" id='send-comment' type="submit">Submit comment</button>
                    </div>
                </form>
            </div>
        {% endif %}
 </div>

    <script>

     var ws_scheme = window.location.protocol === "https:" ? "wss://" : "ws://";
     const commentsSocket = new WebSocket(
         ws_scheme
         + window.location.host
         + '/product/'
         + "{{ product.id }}"
         + "/"
     )

     commentsSocket.onmessage = function (e){

         const data = JSON.parse(e.data)

         commentslist = document.getElementById('comments-list')
         commentslist.insertAdjacentHTML(
             'beforeend',
             '<div class="col-md-12 mt-3 mb-3">\n' +
             '<p><img class="rounded-circle mr-2" style="width: 35px; height: 35px;" src=" ' + data['message']['image'] + '"> \n' +

           '<strong>' + data['message']['author'] + ' </strong> | <small>date: ' + data['message']['date_posted'] + '</small></p>\n'+
           '<p>' + data['message']['text'] + '</p>\n' +
           '</div>\n'
         )
      };

     document.querySelector('#send-comment').onclick = function (e){
         e.preventDefault()
         const message = document.querySelector('#id_text');
         const text = message.value


         console.log("Channels..");
         commentsSocket.send(JSON.stringify({
             'text': text
         }));
         message.value = '';
      }
</script>

{% endblock %}
{#{% block js %}#}


{#{% endblock js %}#}